*{
margin: 0;
padding: 0;
}
body{
font-family: 'Poppins', sans-serif;
} 

.navbar{
background-color: lightcoral;
}
.navbar h2{
    padding: 15px;
    text-align: center;
    font-size: xx-large;
    color: white;
    -webkit-text-stroke: 1.5px black; /* Stroke width and color */
}
.container h5{
color: yellow;}

.container{
padding: 10px;
}
.book-container{
padding: 15px;
width: 25%;
background-color: black;
border-radius: 10px;
color: white;
margin: 30px;
display: inline-block;
vertical-align: top;
}
.book-container h2{
color: brown;

}
.book-container button{
background-color: lightcoral;
color: black;
border-radius: 10px;
padding: 5px;
margin-top: 10px;
}
.add-button{
background-color: lightcoral;
color: black;
border-radius: 100%;
padding: 20px 30px;
font-size: 40px;
border: none;
position: fixed;
bottom: 30px;
right: 30px;
}
.popup-overlay{
background-color: black;
opacity: 0.8;
position: absolute;
width: 100%;
height: 100%;
top: 0;
left: 0;
z-index: 1;
display: none;
}
.popup-box{
background-color: lightcoral;
width: 40%;
padding: 40px;
border-radius: 10px;
position: absolute;
top: 20%;
left: 30%;
z-index: 2;
display: none;
}
.popup-box input{
background-color: transparent;
border: none;
width: 100%;
margin: 5px;
padding: 5px;
font-size: 20px;
border-bottom: solid black 2px;
}
.popup-box textarea{
background-color: transparent;

width: 100%;
margin: 5px;
padding: 5px;
font-size: 20px;
border: solid black 2px;
}
.popup-box input::placeholder{
color: black;
}
.popup-box textarea::placeholder{
color: black;
}
.popup-box button{
background-color: black;
color: white;
padding-left: 20px;
padding-right: 20px;
border: none;
padding-top: 10px;
padding-bottom: 10px;
margin: 5px;
}
.popup-box input:focus{
outline: none;
}
.popup-box textarea:focus{
outline: none;
}

/* Mobile Responsive Code */
@media screen and (max-width: 600px) {
    
    .book-container {
        display: block;
        width: 90%; 
        margin: 20px auto;
    }

    .popup-box {
        width: 80%; 
        left: 5%; 
        top: 15%;
    }
    
    .add-button {
        bottom: 20px;
        right: 20px;
        padding: 15px 25px;
        font-size: 30px;
    }
}

img{
    position: absolute;
    top: 3px;
    left: 20px;
    border-radius: 50%;

}